<div class="container-fluid">
    <h1>Compilation of {{resource}}</h1>

    <div class="row-fluid">
        <table border="1">
            <tbody>
                <tr>
                    <td><b>Status</b></td>
                    <td>{{status.state}}</td>
                </tr>
                <tr>
                    <td><b>Processing time</b></td>
                    <td>
                        <span data-ng-show="status.processing_time.days > 0">{{status.processing_time.days}}d </span>
                        <span data-ng-show="status.processing_time.hours > 0">{{status.processing_time.hours}}h </span>
                        <span data-ng-show="status.processing_time.minutes > 0">{{status.processing_time.minutes}}m </span>
                        <span>{{status.processing_time.seconds.toPrecision(3)}}s</span>
                    </td>
                </tr>
                <tr data-ng-show="status.error">
                    <td><b>Error</b></td>
                    <td><pre>{{status.error}}</pre></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Stage</th>
                    <th>Resource (type)</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="step in status.steps">
                    <td>
                        <span class="alert-success" data-ng-show="step.state == 'complete'">&#x2714;</span>
                        <span class="alert-info" data-ng-show="step.state == 'working'">&#x25b6;</span>
                        <span class="alert-error" data-ng-show="step.state == 'failed'">&#x2717;</span>
                    </td>
                    <td>{{step.stage}}</td>
                    <td>{{step.resource}} ({{step.type}})</td>
                    <td>
                        <span data-ng-show="step.processing_time.days > 0">{{step.processing_time.days}}d </span>
                        <span data-ng-show="step.processing_time.hours > 0">{{step.processing_time.hours}}h </span>
                        <span data-ng-show="step.processing_time.minutes > 0">{{step.processing_time.minutes}}m </span>
                        <span>{{step.processing_time.seconds.toFixed(3)}}s</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
