<div>
    <div class="toolbar navbar navbar-inverse">
        <div class="toolbar-waste-of-space" data-ng-hide="search.collapsed"></div>
        <div class="navbar-inner">
            <div class="btn-toolbar">
                <div class="btn-group" data-ng-show="mode == 'thirdparty'">
                    <button class="btn btn-primary"
                        data-ng-show="!search.collapsed"
                        data-ng-click="search.collapse()">&#x25b2;</button>
                    <button class="btn btn-primary"
                        data-ng-show="search.collapsed"
                        data-ng-click="search.expand()">&#x25bc;</button>
                    <span class="btn btn-inverse" data-ng-disabled="1"
                        data-ng-show="!isNew">{{ profile.contributor.name.__text }}{{ profile.contributor.orgName.__text }}</span>
                    <span class="btn btn-inverse" data-ng-disabled="1"
                        data-ng-show="isNew">New profile</span>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit"
                        data-ng-show="mode == 'thirdparty'" 
                        data-ng-click="newProfile()"
                        >New</button>
                    <button
                        class="btn btn-primary"
                        data-ng-class="{'btn-success' : profileForm.$pristine}" type="submit" 
                        data-ng-click="save()"  
                        data-ng-disabled="!access.write || profileForm.$invalid || profileForm.$pristine">{{saveButtonText()}}</button>
                </div>
                <div class="btn-group pull-right">
                    <button class="btn btn-small btn-warning" 
                        data-ng-disabled="1"
                        data-ng-show="!access.write"
                        title="Read-only. You cannot save this page. You must be logged in and the profile must be your own or you must have write access to the profile.">R/O</button>
                    <button
                        data-ng-disabled="1" 
                        class="btn btn-small btn-success" data-ng-show="access.write" 
                        title="Saving is allowed">R/W</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-container container-fluid">
      <div class="row-fluid">
        <div class="span8 offset2">
          <div data-ng-switch="ownership">
            <div data-ng-switch-when="self">
              <p>Your profile is <strong>public</strong> information that you want to be used
              to identify or contact you on Open Siddur. Only a username is required for a profile,
              all other information is optional. Third party individuals and contributors whose
              work is used within Open Siddur (such as websites) also have
              profiles that are managed by the community. These profiles are used to assign credit for 
              the third party's work and use only the public information that identifies the source.</p>
            </div>
            <div data-ng-switch-when="other">
              <p>This is another user's public profile information. Only that user may edit his/her own profile.</p>
            </div>
            <div data-ng-switch-when="thirdparty">
              <p>This is a community-managed third party profile for a contributor who is not contributing
              directly to Open Siddur, but instead offers freely licensed material from another source,
              online or offline. A profile is required for the third party contributor to receive credit for
              work that went into producing the content. Please only include the same public information that 
              the contributor includes on their own site or in their own published material.</p>
              <p>If the material is being copied from a published work, it may not be necessary to enter a 
              third party contributor. Instead, enter bibliographic information of the <a href="/sources">source</a>.</p> 
            </div>
          </div>  
          <form class="form-horizontal" name="profileForm">
            <div class="control-group">
              <label class="control-label inline">This profile is for an:</label>
              <div class="controls">
                <label class="radio inline" for="formIndividual">
                  <input type="radio"
                    data-ng-model="profileType"
                    value="individual"
                    name="formIndividual"
                    /> Individual
                </label>
                <label class="radio inline" for="formOrganization">
                  <input type="radio"
                    data-ng-model="profileType"
                    value="organization"
                    name="formOrganization"
                    /> Organization/group
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="formUserName">Username: </label>
              <div class="controls">
                <input 
                    name="formUserName" 
                    class="input-block-level"
                    required="1" 
                    data-ng-model="profile.contributor.idno.__text" 
                    data-ng-readonly="!isNew"
                    placeholder="Link name"/>
              </div>
            </div>
            <div data-ng-switch="profileType">
              <div class="control-group" data-ng-switch-when="individual">
                <label class="control-label" for="formRealName">Name:</label>
                <div class="controls">
                  <input class="input-block-level" placeholder="Real Name or pseudonym" data-ng-model="profile.contributor.name.__text"/>
                </div>
              </div>
              <div class="control-group" data-ng-switch-when="organization">
                <label class="control-label" for="formOrgName">Name:</label>
                <div class="controls">
                  <input class="input-block-level" placeholder="Organization or group name" data-ng-model="profile.contributor.orgName.__text"/>
                </div>
              </div>
            </div>
            <div class="control-group" data-ng-class="{error : profileForm.formEmail.$error.email}">
              <label class="control-label" for="formEmail">Email address:</label>
              <div class="controls">
                <input name="formEmail" class="input-block-level" placeholder="Email" data-type="email" data-ng-model="profile.contributor.email.__text"/>
                <span class="help-inline error" data-ng-hide="!profileForm.formEmail.$dirty || !profileForm.formEmail.$error.email">Must be an email address of the form xyz@example.com</span>
              </div>
            </div>
            <div data-os-array-input="profile.contributor.address.addrLine_asArray"
                data-label="Postal address"
                data-name="formAddress"
                data-placeholder="Address line"
                />
            <div class="control-group" data-ng-show="profileType == 'individual'" data-ng-class="{ error : profileForm.formUrl.$error.url }">
              <label class="control-label" for="formUrl">Website:</label>
              <div class="controls">
                <input name="formUrl" class="input-block-level" placeholder="Personal website" data-type="url" data-ng-model="profile.contributor.ptr._target"/>
                <span class="help-inline error" data-ng-hide="!profileForm.formUrl.$dirty || !profileForm.formUrl.$error.url">Must be a web address of the form http://example.com/x/y/z</span>
              </div>
            </div>
            <div class="control-group" data-ng-show="profileType == 'organization'" data-ng-class="{ error : profileForm.formOrgUrl.$error.url }">
              <label class="control-label" for="formOrgUrl">Website:</label>
              <div class="controls">
                <input name="formOrgUrl" class="input-block-level" placeholder="Organization website" data-type="url" data-ng-model="profile.contributor.affiliation.ptr._target"/>
                <span class="help-inline error" data-ng-hide="!profileForm.formOrgUrl.$dirty || !profileForm.formOrgUrl.$error.url">Must be a web address of the form http://example.com/x/y/z</span>
              </div>
            </div>
            <div class="control-group" data-ng-show="profileType == 'individual'" data-ng-class="{ error : profileForm.formAffiliationUrl.$error.url }">
              <label class="control-label" for="formAffiliation">Affiliation</label>
              <div class="controls">
                <input name="formAffiliation" class="input-block-level" placeholder="Institution name" data-ng-model="profile.contributor.affiliation.orgName.__text"/>
                <input name="formAffiliationUrl" class="input-block-level" data-type="url" placeholder="Institution website" data-ng-model="profile.contributor.affiliation.ptr._target"/>
                <span class="help-inline error" data-ng-hide="!profileForm.formAffiliationUrl.$dirty || !profileForm.formAffiliationUrl.$error.url">Must be a web address of the form http://example.com/x/y/z</span>
              </div>
            </div>
          </form>
        </div>
        <div class="span2"></div>
      </div>
      <div class="instance" data-ng-hide="1">
        <div class="j-contributor" data-xml-lang="{{profile.contributor._lang}}">
          <div class="tei-idno">{{profile.contributor.idno.__text}}</div>
          <div class="tei-name">{{profile.contributor.name.__text}}</div>
          <div class="tei-orgName">{{profile.contributor.orgName.__text}}</div>
          <div class="tei-email">{{profile.contributor.email.__text}}</div>
          <div class="tei-address">
            <div class="tei-addrLine" data-ng-repeat="addrLine in profile.contributor.address.addrLine">{{addrLine.__text}}</div>
          </div>
          <div class="tei-affiliation">
            <div class="tei-orgName">{{profile.contributor.affiliation.orgName.__text}}</div>
            <div class="tei-address">
              <div class="tei-addrLine" data-ng-repeat="addrLine in profile.contributor.affiliation.address.addrLine">{{addrLine.__text}}</div>
            </div>
            <div class="tei-ptr" data-type="url" data-target="{{profile.contributor.affiliation.ptr._target}}"></div>
          </div>
          <div class="tei-ptr" data-type="url" data-target="{{profile.contributor.ptr._target}}"></div>
        </div>
      </div>
    </div>
</div>
