<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <h1 class="page-header">Profile</h1>
    </div>
    <div class="span1 offset9">
      <button class="btn btn-large btn-primary" type="submit" data-ng-click="save()"  data-ng-disabled="profileForm.$invalid">Save</button>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8 offset2">
      <div data-ng-hide="!errorMessage" class="alert alert-error">{{errorMessage}}</div>
      
      <form class="form-horizontal" name="profileForm">
        <div class="control-group">
          <label class="control-label inline">This profile is for an:</label>
          <div class="controls">
            <label class="radio inline" for="formIndividual">
              <input type="radio"
                data-ng-model="profileType"
                value="individual"
                name="formIndividual"
                /> Individual
            </label>
            <label class="radio inline" for="formOrganization">
              <input type="radio"
                data-ng-model="profileType"
                value="organization"
                name="formOrganization"
                /> Organization/group
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="formUserName">Username: </label>
          <div class="controls">
            <input name="formUserName" class="input-block-level" data-ng-model="profile.contributor.idno.__text" data-ng-readonly="true"/>
          </div>
        </div>
        <div data-ng-switch="profileType">
          <div class="control-group" data-ng-switch-when="individual">
            <label class="control-label" for="formRealName">Name:</label>
            <div class="controls">
              <input class="input-block-level" placeholder="Real Name or pseudonym" data-ng-model="profile.contributor.name.__text"/>
            </div>
          </div>
          <div class="control-group" data-ng-switch-when="organization">
            <label class="control-label" for="formOrgName">Name:</label>
            <div class="controls">
              <input class="input-block-level" placeholder="Organization or group name" data-ng-model="profile.contributor.orgName.__text"/>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="formEmail">Email address:</label>
          <div class="controls">
            <input name="formEmail" class="input-block-level" placeholder="Email" data-type="email" data-ng-model="profile.contributor.email.__text"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="formAddress">Postal address</label>
          <div class="controls">
            <input name="formAddress" class="input-block-level" placeholder="Address line 1" data-ng-model="profile.contributor.address.addrLine[0].__text"/>
            <input name="formAddress1" class="input-block-level" placeholder="Address line 2" data-ng-model="profile.contributor.address.addrLine[1].__text" data-ng-show="profile.contributor.address.addrLine[0].__text != '' || profile.contributor.address.addrLine[1].__text != ''"/>
            <input name="formAddress2" class="input-block-level" placeholder="Address line 3" data-ng-model="profile.contributor.address.addrLine[2].__text" data-ng-show="profile.contributor.address.addrLine[1].__text != '' || profile.contributor.address.addrLine[2].__text != ''"/>
            <input name="formAddress3" class="input-block-level" placeholder="Address line 4" data-ng-model="profile.contributor.address.addrLine[3].__text" data-ng-show="profile.contributor.address.addrLine[2].__text != '' || profile.contributor.address.addrLine[3].__text != ''"/>
            <input name="formAddress4" class="input-block-level" placeholder="Address line 5" data-ng-model="profile.contributor.address.addrLine[4].__text" data-ng-show="profile.contributor.address.addrLine[3].__text != '' || profile.contributor.address.addrLine[4].__text != ''"/>
          </div>
        </div>
        <div class="control-group" data-ng-show="profileType == 'individual'">
          <label class="control-label" for="formUrl">Website:</label>
          <div class="controls">
            <input name="formUrl" class="input-block-level" placeholder="Personal website" data-type="url" data-ng-model="profile.contributor.ptr._target"/>
          </div>
        </div>
        <div class="control-group" data-ng-show="profileType == 'organization'">
          <label class="control-label" for="formOrgUrl">Website:</label>
          <div class="controls">
            <input name="formOrgUrl" class="input-block-level" placeholder="Organization website" data-type="url" data-ng-model="profile.contributor.affiliation.ptr._target"/>
          </div>
        </div>
        <div class="control-group" data-ng-show="profileType == 'individual'">
          <label class="control-label" for="formAffiliation">Affiliation</label>
          <div class="controls">
            <input name="formAffiliation" class="input-block-level" placeholder="Institution name" data-ng-model="profile.contributor.affiliation.orgName.__text"/>
            <input class="input-block-level" data-type="url" placeholder="Institution website" data-ng-model="profile.contributor.affiliation.ptr._target"/>
          </div>
        </div>
      </form>
    </div>
    <div class="span2"></div>
  </div>
  <div class="instance" data-ng-hide="">
    <div class="j-contributor" data-xml-lang="{{profile.contributor._lang}}">
      <div class="tei-idno">{{profile.contributor.idno.__text}}</div>
      <div class="tei-name">{{profile.contributor.name.__text}}</div>
      <div class="tei-orgName">{{profile.contributor.orgName.__text}}</div>
      <div class="tei-email">{{profile.contributor.email.__text}}</div>
      <div class="tei-address">
        <div class="tei-addrLine" data-ng-repeat="addrLine in profile.contributor.address.addrLine">{{addrLine.__text}}</div>
      </div>
      <div class="tei-affiliation">
        <div class="tei-orgName">{{profile.contributor.affiliation.orgName.__text}}</div>
        <div class="tei-address">
          <div class="tei-addrLine" data-ng-repeat="addrLine in profile.contributor.affiliation.address.addrLine">{{addrLine.__text}}</div>
        </div>
        <div class="tei-ptr" data-type="url" data-target="{{profile.contributor.affiliation.ptr._target}}"></div>
      </div>
      <div class="tei-ptr" data-type="url" data-target="{{profile.contributor.ptr._target}}"></div>
    </div>
  </div>
</div>