<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span2"></div>
        <div class="span4">
          <h2>Sign in</h2>
          <p>If you have already registered, sign in here.</p>
          <form name="signinForm" class="form">
            <input id="signin-username" type="text" required="" class="input-block-level" placeholder="Username" data-ng-model="signin.userName"/>
            <input type="password" required="" class="input-block-level" placeholder="Password" data-ng-model="signin.password"/>
            <label class="checkbox">
              <input type="checkbox" value="false" data-ng-model="signin.rememberMe"/>Remember me
            </label>
            <div data-ng-hide="!signin.errorMessage">
              <div class="alert alert-error">{{signin.errorMessage}}</div>
            </div>
            <button id="signin-button" class="btn btn-large btn-primary" type="submit" data-ng-click="signin()"  data-ng-disabled="signinForm.$invalid">Sign in</button>
          </form>
        </div>
        <div class="span4">
          <h2>Register for a new account</h2>
          <p>If you are registering for a new account. Be aware that:</p>
          <ul>
            <li>This is a test site. Accounts may be deleted without notice.</li>
            <li>Passwords are sent over the Internet insecurely in clear text. Do not use a super-secret password</li>
          </ul>
          <form name="registrationForm" class="form">
            <input type="text" required="" class="input-block-level" placeholder="Username" data-ng-model="register.userName"/>
            <input id="inputPassword1" type="password" required="" class="input-block-level" placeholder="Password" data-ng-model="register.password"/>
            <input id="inputPassword2" type="password" required="" class="input-block-level" placeholder="Repeat password" data-ng-model="register.repeatPassword" data-os-pw-check="inputPassword1"/>
            <label class="checkbox">
              <input type="checkbox" value="false" data-ng-model="register.rememberMe"/>Remember me
            </label>
            <div data-ng-hide="!register.errorMessage">
              <div class="alert alert-error">{{register.errorMessage}}</div>
            </div>
            <button id="register-button" class="btn btn-large btn-primary" type="submit" data-ng-click="register()" data-ng-disabled="registrationForm.$invalid">Register</button>
          </form>
        </div><!--/span-->
        <div class="span2"></div>
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->
</div>