<div class="container-fluid">
    
    <div data-os-list-box="Sources"
        data-source-key="sources"
        data-api="/api/data/sources"
        data-selection="editor.currentDocument">
    </div>
    <div class="row-fluid sources-editor">
        <div class="span12">Editor here for {{editor.currentDocument}}</div>
        <div data-os-array-input="editor.content.biblStruct.author_asArray" 
            data-placeholder="Author"
            data-label="Authors"
            data-name="author"/>
    </div>
    <div class="instance" data-ng-hide="">
    </div>
</div>
