<div>
    <div class="toolbar navbar navbar-inverse">
        <div class="toolbar-waste-of-space" data-ng-hide="search.collapsed"></div>
        <div class="navbar-inner">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-primary"
                        data-ng-show="!search.collapsed"
                        data-ng-click="search.collapse()">&#x25b2;</button>
                    <button class="btn btn-primary"
                        data-ng-show="search.collapsed"
                        data-ng-click="search.expand()">&#x25bc;</button>
                    <span class="btn btn-inverse" data-ng-disabled="1">{{ editor.content.biblStruct.monogr.title_asArray[0].__text }}</span>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" 
                        data-ng-disabled="!editor.loggedIn"
                        data-ng-click="editor.newButton()"
                        >New</button>
                    <button
                        class="btn btn-primary"
                        data-ng-class="{'btn-success' : sourcesForm.$pristine}" type="submit" 
                        data-ng-click="editor.saveDocument()"  
                        data-ng-disabled="sourcesForm.$invalid || sourcesForm.$pristine">{{saveButtonText()}}</button>
                </div>
                <div class="btn-group pull-right">
                    <button class="btn btn-small btn-warning" 
                        data-ng-disabled="1"
                        data-ng-show="!editor.loggedIn"
                        title="Read-only. You cannot save this page. You must be logged in to edit sources.">R/O</button>
                    <button
                        data-ng-disabled="1" 
                        class="btn btn-small btn-success" data-ng-show="editor.loggedIn" 
                        title="Saving is allowed">R/W</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="page-container container-fluid sources-editor" data-ng-show="!editor.isNew || editor.loggedIn">
        <div class="row-fluid">
            <div class="span10 offset1 alert alert-info text-center">
                <p>For <strong>printed works</strong>, the following information is <strong>required</strong>: 
                a main title, a publisher or distributor, and a publication date. 
                </p>
                <p>For <strong>online works</strong>, the following information is <strong>required</strong>: a main title, a distributor website title, a distributor URL, and an access date.</p>
                <p>The bibliographic entry can be saved only if the minimally required highlighted fields (<input class="input-mini" readonly="true" required="true" data-ng-model="editor.requiredExample"/>) are filled in and have valid data.</p>
                <!--<p>Required fields are highlighted .</p>-->
            </div>
            <!--
            <div class="span5 offset1 alert alert-warn text-center" data-ng-hide="!sourcesForm.$invalid">All fields must have valid data.</div>
            <div class="span5 alert alert-warn text-center" data-ng-hide="!sourcesForm.$error.required">All required fields (<input class="input-mini" readonly="true" required="true" data-ng-model="editor.requiredExample"/>) must be filled in</div>-->
        </div>
        <div class="row-fluid sources-editor">
            <div class="span11 offset1">
                <form name="sourcesForm">
                    <div class="controls controls-row">
                        <label class="span4" for="biblStruct._xmlLang">Primary language of this entry:</label>
                        <select 
                            class="span2"
                            name="biblStruct._xmlLang"
                            data-ng-model="editor.content.biblStruct['_xml:lang']" 
                            required="true"
                            data-ng-options="code as language for (code, language) in editor.supportedLanguages"/>
                    </div>
                    <div class="controls controls-row">
                        <label class="span6" for="isAnalytic1">Is this entry for a <b>subset</b> of a book, such as an <b>article</b> or <b>chapter</b>, that has authors and/or editors who are different from the book or series?</label>
                        <label class="radio inline">
                            <input 
                                type="radio"
                                name="isAnalytic1"
                                value="1"
                                data-ng-model="editor.isAnalytic"
                                />Yes
                        </label>
                        <label class="radio inline">
                            <input 
                                type="radio"
                                name="isAnalytic2"
                                value="0"
                                data-ng-model="editor.isAnalytic"
                                />No
                        </label>
                    </div>
                    <div class="controls controls-row">
                        <label class="span6" for="isSeries1">Is this entry for a book in a <b>series</b>?</label>
                        <label class="radio inline">
                            <input 
                                type="radio"
                                class="controls inline"
                                name="isSeries1"
                                value="1"
                                data-ng-model="editor.isSeries"
                                />Yes
                        </label>
                        <label class="radio inline">
                            <input 
                                type="radio"
                                class="controls inline"
                                name="isSeries2"
                                value="0"
                                data-ng-model="editor.isSeries"
                                />No
                        </label>
                    </div>
                    <fieldset data-ng-show="editor.isAnalytic">
                        <legend>Section</legend>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.analytic.title_main">Section title:</label>
                            <select
                                    class="span2" 
                                    name="biblStruct.analytic.title_main_xmlLang"
                                    data-ng-model="editor.content.biblStruct.analytic.title_asArray[0]['_xml:lang']" 
                                    data-ng-required="editor.content.biblStruct.analytic.title_asArray[0].__text"
                                    data-ng-options="code as language for (code, language) in editor.supportedLanguages">
                            <input class="span8" 
                                    name="biblStruct.analytic.title_main" 
                                    data-ng-model="editor.content.biblStruct.analytic.title_asArray[0].__text"
                                    data-ng-required="editor.isAnalytic"
                                    placeholder="Main section title"/>
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.analytic.title_sub">Section subtitle:</label>
                            <select 
                                class="span2"
                                name="biblStruct.analytic.title_sub_xmlLang"
                                data-ng-model="editor.content.biblStruct.analytic.title_asArray[1]['_xml:lang']" 
                                data-ng-required="editor.content.biblStruct.analytics.title_asArray[1].__text"
                                data-ng-options="code as language for (code, language) in editor.supportedLanguages">
                            <input class="span8" name="biblStruct.analytic.title_sub" data-ng-model="editor.content.biblStruct.analytic.title_asArray[1].__text"
                                placeholder="Section subtitle"/>
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.analytic.title_alt">Alternate section title:</label>
                            <select 
                                class="span2"
                                name="biblStruct.analytic.title_alt_xmlLang"
                                data-ng-model="editor.content.biblStruct.analytic.title_asArray[2]['_xml:lang']" 
                                data-ng-required="editor.content.biblStruct.analytics.title_asArray[2].__text"
                                data-ng-options="code as language for (code, language) in editor.supportedLanguages">
                            <input class="span8" name="biblStruct.analytic.title_alt" data-ng-model="editor.content.biblStruct.analytic.title_asArray[2].__text"
                                placeholder="Alternate title (eg, translation)"/>
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.analytic.title_alt_sub">Alternate section subtitle:</label>
                            <select 
                                class="span2"
                                name="biblStruct.analytic.title_alt_sub_xmlLang"
                                data-ng-model="editor.content.biblStruct.analytic.title_asArray[3]['_xml:lang']" 
                                data-ng-required="editor.content.biblStruct.analytics.title_asArray[3].__text"
                                data-ng-options="code as language for (code, language) in editor.supportedLanguages">
                            <input class="span8" name="biblStruct.analytic.title_alt_sub" data-ng-model="editor.content.biblStruct.analytic.title_asArray[3].__text"
                                placeholder="Alternate subtitle (eg, translation)"/>
                        </div>
                        <div data-os-array-input="editor.content.biblStruct.analytic.author_asArray" 
                            data-placeholder="Section Author"
                            data-label="Section authors"
                            data-name="biblStruct.analytic.author"
                            data-child="name"/>
                        <div data-os-array-input="editor.content.biblStruct.analytic.editor_asArray" 
                            data-placeholder="Section Editor"
                            data-label="Section Editors"
                            data-name="biblStruct.analytic.editor"
                            data-child="name"/>
                    </fieldset>
                    <!-- monograph level -->
                    <fieldset>
                        <legend>This book</legend>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.monogr.title_main">Main title:</label>
                            <select 
                                class="span2"
                                name="biblStruct.monogr.title_main_xmlLang"
                                data-ng-model="editor.content.biblStruct.monogr.title_asArray[0]['_xml:lang']" 
                                required="true"
                                data-ng-options="code as language for (code, language) in editor.supportedLanguages">
                            <input class="span8" 
                                name="biblStruct.monogr.title_main"
                                required="true"
                                data-ng-model="editor.content.biblStruct.monogr.title_asArray[0].__text"
                                placeholder="Main title"/>
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.monogr.title_sub">Main subtitle:</label>
                            <select 
                                class="span2"
                                name="biblStruct.monogr.title_sub_xmlLang"
                                data-ng-model="editor.content.biblStruct.monogr.title_asArray[1]['_xml:lang']" 
                                data-ng-required="editor.content.biblStruct.monogr.title_asArray[1].__text"
                                data-ng-options="code as language for (code, language) in editor.supportedLanguages">
                            <input class="span8" name="biblStruct.monogr.title_sub" data-ng-model="editor.content.biblStruct.monogr.title_asArray[1].__text"
                                placeholder="subtitle"/>
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.monogr.title_alt">Alternate title:</label>
                            <select 
                                class="span2"
                                name="biblStruct.monogr.title_alt_xmlLang"
                                data-ng-model="editor.content.biblStruct.monogr.title_asArray[2]['_xml:lang']" 
                                data-ng-required="editor.content.biblStruct.monogr.title_asArray[2].__text"
                                data-ng-options="code as language for (code, language) in editor.supportedLanguages">
                            <input class="span8" name="biblStruct.monogr.title_alt" data-ng-model="editor.content.biblStruct.monogr.title_asArray[2].__text"
                                placeholder="Alternate main title (eg, translation)"/>
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.monogr.title_alt_sub">Alternate subtitle:</label>
                            <select 
                                class="span2"
                                name="biblStruct.monogr.title_alt_sub_xmlLang"
                                data-ng-model="editor.content.biblStruct.monogr.title_asArray[3]['_xml:lang']" 
                                data-ng-required="editor.content.biblStruct.monogr.title_asArray[3].__title"
                                data-ng-options="code as language for (code, language) in editor.supportedLanguages">
                            <input class="span8" name="biblStruct.monogr.title_alt_sub" data-ng-model="editor.content.biblStruct.monogr.title_asArray[3].__text"
                                placeholder="Alternate subtitle (eg, translation)"/>
                        </div>
                        <div data-os-array-input="editor.content.biblStruct.monogr.author_asArray" 
                            data-placeholder="Author"
                            data-label="Authors"
                            data-name="biblStruct.monogr.author"
                            data-child="name"/>
                        <div data-os-array-input="editor.content.biblStruct.monogr.editor_asArray" 
                            data-placeholder="Editor"
                            data-label="Editors"
                            data-name="biblStruct.monogr.editor"
                            data-child="name"/>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.monogr.edition">Edition</label>
                            <input
                                class="span5"
                                data-ng-model="editor.content.biblStruct.monogr.edition_asArray[0].__text"
                                name="biblStruct.monogr.edition" 
                                placeholder="Edition (eg, 5th)"
                                />
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.monogr.biblScope1">Scope</label>
                            <select 
                                class="span2"
                                name="biblStruct.monogr.biblScope_unit"
                                data-ng-model="editor.content.biblStruct.monogr.biblScope_asArray[0]._unit" 
                                data-ng-required="editor.content.biblStruct.monogr.biblScope_asArray[0]._from || editor.content.biblStruct.monogr.biblScope_asArray[0]._to"
                                data-ng-options="code as scope for (code, scope) in editor.monographScopes">
                            <span class="span1">from </span>
                            <input class="span1"
                                data-ng-model="editor.content.biblStruct.monogr.biblScope_asArray[0]._from"
                                name="biblStruct.monogr.biblScope1"
                                data-ng-required="editor.content.biblStruct.monogr.biblScope_asArray[0]._unit || editor.content.biblStruct.monogr.biblScope_asArray[0]._to"
                                placeholder="From"/>
                            <span class="span1"> to </span>
                            <input class="span1"
                                data-ng-model="editor.content.biblStruct.monogr.biblScope_asArray[0]._to"
                                name="biblStruct.monogr.biblScope2"
                                data-ng-required="editor.content.biblStruct.monogr.biblScope_asArray[0]._unit || editor.content.biblStruct.monogr.biblScope_asArray[0]._from"
                                placeholder="To"/>
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.monogr.imprint.publisher">Publisher</label>
                            <input
                                class="span10"
                                data-ng-model="editor.content.biblStruct.monogr.imprint.publisher_asArray[0].__text"
                                name="biblStruct.monogr.imprint.publisher"
                                data-ng-required="!editor.content.biblStruct.monogr.imprint.distributor.name_asArray[0].__text &amp;&amp; !editor.content.biblStruct.monogr.imprint.distributor.ref_asArray[0]._target &amp;&amp; !editor.content.biblStruct.monogr.imprint.distributor.ref_asArray[0].__text" 
                                placeholder="Publisher"
                                />
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.monogr.imprint.pubPlace">Publication place</label>
                            <input
                                class="span5"
                                data-ng-model="editor.content.biblStruct.monogr.imprint.pubPlace_asArray[0].__text"
                                name="biblStruct.monogr.imprint.pubPlace" 
                                placeholder="Publication place (eg, Jerusalem, Israel; New York, NY)"
                                />
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.monogr.imprint.date">Publication date</label>
                            <input
                                class="span2"
                                data-ng-model="editor.content.biblStruct.monogr.imprint.date_asArray[0].__text"
                                name="biblStruct.monogr.imprint.date"
                                data-ng-required="editor.content.biblStruct.monogr.imprint.publisher_asArray[0].__text"
                                data-ng-pattern="/^(\d{4}(-[01]\d(-[0-3]\d)?)?)$/"
                                placeholder="YYYY-MM-DD"
                                />
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.monogr.imprint.distributor.name">Distributor</label>
                            <input
                                class="span8"
                                data-ng-model="editor.content.biblStruct.monogr.imprint.distributor.name_asArray[0].__text"
                                data-ng-required="!editor.content.biblStruct.monogr.imprint.publisher.__text &amp;&amp; !editor.content.biblStruct.monogr.imprint.distributor.ref_asArray[0].__text"
                                name="biblStruct.monogr.imprint.distributor.name" 
                                placeholder="Offline distributor"
                                />
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.monogr.imprint.distributor.ref">Distributor website</label>
                            <input
                                class="span4"
                                data-ng-model="editor.content.biblStruct.monogr.imprint.distributor.ref_asArray[0].__text"
                                name="biblStruct.monogr.imprint.distributor.ref" 
                                data-ng-required="(!editor.content.biblStruct.monogr.imprint.distributor.name_asArray[0].__text &amp;&amp; !editor.content.biblStruct.monogr.imprint.publisher_asArray[0].__text) || editor.content.biblStruct.monogr.imprint.distributor.ref_asArray[0]._target"
                                placeholder="Online distributor website title"
                                />
                            <input
                                class="span4"
                                data-ng-model="editor.content.biblStruct.monogr.imprint.distributor.ref_asArray[0]._target"
                                name="biblStruct.monogr.imprint.distributor.ref._target" 
                                data-ng-required="editor.content.biblStruct.monogr.imprint.distributor.ref_asArray[0].__text"
                                placeholder="Distributor URL (eg, http://www.example.com/x/y/z)"
                                />
                            <input
                                class="span2"
                                data-ng-model="editor.content.biblStruct.monogr.imprint.distributor.date_asArray[0].__text"
                                name="biblStruct.monogr.imprint.distributor.date" 
                                data-ng-pattern="/^\d{4}-[01]\d-[0-3]\d$/"
                                placeholder="Access date (YYYY-MM-DD)"
                                />
                        </div>
                    </fieldset>
                    <fieldset data-ng-show="editor.isSeries">
                        <legend>Series</legend>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.series.title_main">Series title:</label>
                            <select 
                                class="span2"
                                name="biblStruct.series.title_main_xmlLang"
                                data-ng-model="editor.content.biblStruct.series.title_asArray[0]['_xml:lang']" 
                                data-ng-required="editor.isSeries"
                                data-ng-options="code as language for (code, language) in editor.supportedLanguages">
                            <input class="span8" name="biblStruct.series.title_main" data-ng-model="editor.content.biblStruct.series.title_asArray[0].__text"
                                placeholder="Main series title" data-ng-required="editor.isSeries"/>
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.series.title_sub">Series subtitle:</label>
                            <select 
                                class="span2"
                                name="biblStruct.series.title_sub_xmlLang"
                                data-ng-model="editor.content.biblStruct.series.title_asArray[1]['_xml:lang']" 
                                data-ng-required="editor.content.biblStruct.series.title_asArray[1].__text"
                                data-ng-options="code as language for (code, language) in editor.supportedLanguages">
                            <input class="span8" name="biblStruct.series.title_sub" data-ng-model="editor.content.biblStruct.series.title_asArray[1].__text"
                                placeholder="Series subtitle"/>
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.series.title_sub">Series alternate title:</label>
                            <select 
                                class="span2"
                                name="biblStruct.series.title_alt_xmlLang"
                                data-ng-model="editor.content.biblStruct.series.title_asArray[2]['_xml:lang']" 
                                data-ng-required="editor.content.biblStruct.series.title_asArray[2].__text"
                                data-ng-options="code as language for (code, language) in editor.supportedLanguages">
                            <input class="span8" name="biblStruct.series.title_alt" data-ng-model="editor.content.biblStruct.series.title_asArray[2].__text"
                                placeholder="Alternate series main title (eg, translation)"/>
                        </div>
                        <div class="controls controls-row">
                            <label class="span2" for="biblStruct.series.title_sub">Series alternate subtitle:</label>
                            <select 
                                class="span2"
                                name="biblStruct.series.title_alt_sub_xmlLang"
                                data-ng-model="editor.content.biblStruct.series.title_asArray[3]['_xml:lang']" 
                                data-ng-required="editor.content.biblStruct.series.title_asArray[3].__text"
                                data-ng-options="code as language for (code, language) in editor.supportedLanguages">
                            <input class="span8" name="biblStruct.series.title_alt_sub" data-ng-model="editor.content.biblStruct.series.title_asArray[3].__text"
                                placeholder="Alternate series subtitle (eg, translation)"/>
                        </div>
                        <div data-os-array-input="editor.content.biblStruct.series.author_asArray" 
                            data-placeholder="Series Author"
                            data-label="Series authors"
                            data-name="biblStruct.series.author"
                            data-child="name"/>
                        <div data-os-array-input="editor.content.biblStruct.series.editor_asArray" 
                            data-placeholder="Series Editor"
                            data-label="Series Editors"
                            data-name="biblStruct.series.editor"
                            data-child="name"/>
                    </fieldset>
                    <fieldset>
                        <legend>Notes</legend>
                        <div class="control-group">
                            <label for="biblStruct.note">Optional descriptive comments about the source that not covered in other fields:</label>
                            <textarea
                                class="input-block-level" 
                                placeholder="Note."
                                data-ng-model="editor.content.biblStruct.note_asArray[1].__text"
                                name="biblStruct.note"
                                />
                        </div>
                        <div class="control-group">
                            <label for="biblStruct.note_copyright.note">Copyright note.</label>
                            <textarea
                                class="input-block-level" 
                                placeholder="Note about licensing or copyright status, if necessary"
                                data-ng-model="editor.content.biblStruct.note_asArray[0].note.__text"
                                name="biblStruct.note_copyright.note"
                                />
                            <div class="controls control-row">
                                <label for="biblStruct.note.ref" class="span2">License name/URL:</label>
                                <input class="span5"
                                    data-ng-model="editor.content.biblStruct.note.ref.__text"
                                    data-ng-required="editor.content.biblStruct.note.ref._target"
                                    name="biblStruct.note.ref"
                                    placeholder="Name of copyright license"
                                    />
                                <input class="span5"
                                    data-ng-model="editor.content.biblStruct.note.ref._target"
                                    name="biblStruct.note.ref._target"
                                    data-ng-required="editor.content.biblStruct.note.ref.__text"
                                    placeholder="URL of license (eg, http://www.creativecommons.org/publicdomain/zero/1.0)"
                                    />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Transcription source</legend>
                        <div class="controls controls-row">
                            <label class="span4" for="biblStruct.relatedItem._target">URL for the title page of the scanned book</label>
                            <input class="span8"
                                name="biblStruct.relatedItem._target"
                                data-ng-model="editor.content.biblStruct.relatedItem._target"
                                placeholder="eg, http://example.com/book"
                                />
                        </div>
                        <div class="controls controls-row">
                            <label class="span4" for="biblStruct.relatedItem._targetPattern">URL for a scanned page image. Use <code data-ng-non-bindable="1">{{page}}</code> for the point where the page number appears in the URL.</label>
                            <input class="span8"
                                name="biblStruct.relatedItem._targetPattern"
                                data-ng-model="editor.content.biblStruct.relatedItem._targetPattern"
                                placeholder="eg, http://example.com/book.jpg"
                                />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
