<div>
    <div class="toolbar navbar navbar-inverse">
        <div class="toolbar-waste-of-space" data-ng-hide="search.collapsed"></div>
        <div class="navbar-inner">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-primary"
                        data-ng-show="!search.collapsed"
                        data-ng-click="search.collapse()">&#x25b2;</button>
                    <button class="btn btn-primary"
                        data-ng-show="search.collapsed"
                        data-ng-click="search.expand()">&#x25bc;</button>
                    <span class="btn btn-inverse" data-ng-disabled="1">{{ editor.title }}</span>
                </div>
                <div class="btn-group">
                      <button class="btn btn-primary" type="submit"
                          data-ng-disabled="!editor.loggedIn" 
                          data-ng-click="editor.newButton()"  
                          >New</button>
                      <button data-ng-class="{'btn' : true, 'btn-primary' : true, 'btn-success' : textsForm.$pristine}" type="submit" 
                          data-ng-click="editor.saveDocument()"  
                          data-ng-disabled="!editor.access.write || textsForm.$invalid || textsForm.$pristine">{{saveButtonText()}}</button>
                </div>
                <div class="btn-group">
                      <button class="btn btn-primary" type="submit"
                          data-ng-show="editor.currentDocument"
                          data-ng-disabled="textsForm.$invalid || textsForm.$dirty"
                          data-ng-click="editor.compile()"
                          >Compile to HTML</button>
                </div>
                <os-sharing-status access-model="editor.access" sharing-dialog="sharingDialog"></os-sharing-status>
            </div>
        </div>
    </div>
    <!-- page content -->
    <div class="page-container container-fluid">
        <div data-ng-show="!editor.loggedIn && !editor.currentDocument">
            Log in to be able to edit a new document, or choose a document from the list to view it.
        </div>
        <div data-ng-show="editor.loggedIn || editor.currentDocument">
            <div class="texts-editor">
                <form name="textsForm">
                    <div class="span9">
                        <textarea  
                            data-ui-codemirror="{ onLoad : editor.loaded }"
                            data-ui-codemirror-opts="editor.codemirrorOptions"
                            data-ng-model="editor.content"
                            ></textarea>
                    </div>
                    <div class="span3">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-target="#link-helper" data-toggle="tab">Links</a></li>
                            <li><a data-target="#xml-helper" data-toggle="tab">XML</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active in" id="link-helper">
                                <label for="link.type">Search for a link to:</label>
                                <select
                                    name="link.type" 
                                    data-ng-model="helper.link.selectedType"
                                    data-ng-options="key as value for (key , value) in helper.link.types"/>
                                <div>
                                    <os-search-list api="helper.link.selectedType" selection="helper.link.selection">
                                    </os-search-list>
                                </div>
                                <div>Selected: {{helper.link.insertable}}</div>
                                <button
                                    data-ng-disabled="!helper.link.selection || !editor.access.write"
                                    class="btn btn-primary" 
                                    data-ng-click="helper.link.insert()">Insert</button>
                            </div>
                            <div class="tab-pane text-center" id="xml-helper">
                                <div class="btn-group btn-group-vertical">
                                    <button 
                                        data-ng-disabled="!editor.access.write"
                                        class="span3 btn btn-primary"
                                        data-ng-click="helper.xml.addIds()"
                                        >Add required xml:id attributes</button>
                                    <button 
                                        data-ng-disabled="!editor.access.write"
                                        class="span3 btn btn-primary"
                                        data-ng-click="helper.xml.wordify()"
                                        >Tag words and punctuation</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <os-sharing-dialog api="'/api/data/original'" 
            access-model="editor.access" current-document="editor.currentDocument" 
            is-new="editor.isNew" name="sharingDialog" title="Sharing"></os-sharing-dialog>
</div>
