<div>
    <div class="toolbar navbar navbar-inverse nav-collapse">
        <div class="container-fluid">
            <div class="btn-toolbar">
                <div class="btn-group navbar-btn">
                    <button class="form-control-static" data-ng-disabled="1">{{ editor.title }}</button>
                </div>
                <div class="btn-group navbar-btn">
                      <button class="btn btn-primary" type="submit"
                          data-ng-disabled="!editor.loggedIn" 
                          data-ng-click="DialogService.open('newDialog')"  
                          >New</button>
                      <button class="btn btn-primary" type="submit"
                          data-ng-click="DialogService.open('openDialog')"  
                          >Open</button>
                      <button data-ng-class="{'btn' : true, 'btn-primary' : true, 'btn-success' : textsForm.$pristine}" type="submit" 
                          data-ng-click="editor.saveDocument()"  
                          data-ng-disabled="!editor.access.write || textsForm.$invalid || textsForm.$pristine">{{saveButtonText()}}</button>
                </div>
                <div class="btn-group navbar-btn" data-ng-hide="!resourceType.current.supportsCompile">
                      <button class="btn btn-primary" type="submit"
                          data-ng-show="editor.currentDocument"
                          data-ng-disabled="textsForm.$invalid || textsForm.$dirty"
                          data-ng-click="editor.compile()"
                          >Compile to HTML</button>
                </div>
                <div class="btn-group navbar-btn">
                    <button data-ng-disabled="!editor.access.write || !editor.isLoaded" class="btn dropdown-toggle" data-toggle="dropdown">Metadata<b class="caret"></b></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-ng-click="DialogService.open('metadataTitleDialog')">Set titles...</a></li>
                        <li><a href="#" data-ng-click="DialogService.open('metadataLicenseDialog')">Copyright License...</a></li>
                        <li><a href="#" data-ng-click="DialogService.open('metadataRespDialog')">Set responsibility credits...</a></li>
                    </ul>
                </div>
                <div class="btn-group navbar-btn" data-ng-show="resourceType.current.editorMode == 'xml'">
                    <button data-ng-disabled="!editor.access.write || !editor.isLoaded" class="btn dropdown-toggle" data-toggle="dropdown">XML<b class="caret"></b></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-ng-click="DialogService.open('internalLinkDialog')">Insert internal link...</a></li>
                        <li><a href="#" data-ng-click="DialogService.open('linkDialog')">Insert external link...</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-ng-click="helper.xml.segment()">Auto-segment text stream</a></li>
                        <li><a href="#" data-ng-click="helper.xml.wordify()">Tag words and punctuation</a></li>
                        <li><a href="#" data-ng-click="helper.xml.addIds()">Add required xml:id attributes</a></li>
                    </ul>
                </div>
                <div class="btn-group navbar-btn" data-ng-show="resourceType.current.supportsTranscriptionView">
                    <button class="btn btn-primary" 
                        data-ng-disabled="!editor.isLoaded" 
                        data-ng-show="!editor.transcriptionViewer"
                        data-ng-click="editor.transcriptionViewer = !editor.transcriptionViewer">&#x25c0;Transcription</button>
                    <button class="btn btn-primary" 
                        data-ng-disabled="!editor.isLoaded" 
                        data-ng-show="editor.transcriptionViewer"
                        data-ng-click="editor.transcriptionViewer = !editor.transcriptionViewer">Transcription&#x25b6;</button>
                </div>
                <div class="navbar-right navbar-btn">
                    <os-sharing-status data-ng-hide="!resourceType.current.supportsAccess || !editor.isLoaded" access-model="editor.access" sharing-dialog="sharingDialog"></os-sharing-status>
                </div>
            </div>
        </div>
    </div>
    <!-- page content -->
    <div class="page-container container-fluid">
        <div class="full-window-message" data-ng-show="!editor.loggedIn && !editor.currentDocument">
            Log in to be able to edit a new document, or open a document to view it.
        </div>
        <div class="full-window-message" data-ng-show="editor.loggedIn && !editor.isLoaded">
            To begin editing, open an existing document or start a new document using the toolbar above.
        </div>
        <div data-ng-show="editor.isLoaded && (editor.loggedIn || editor.currentDocument)">
            <div class="texts-editor row">
                <form name="textsForm" data-unsaved-warning-form="1">
                    <div data-ng-class="{true:'col-md-6', false:'col-md-12'}[editor.transcriptionViewer]">
                        <textarea  
                            data-ui-codemirror="{ onLoad : editor.loaded }"
                            data-ui-codemirror-opts="editor.codemirrorOptions"
                            data-ng-model="editor.editableText"
                            data-ng-model-options="{ getterSetter : true, debounce: 100 }"
                            ></textarea>
                    </div>
                    <div data-ng-class="{true:'col-md-6', false:'off'}[editor.transcriptionViewer]">
                        <os-transcription-window model="editor.content" active="editor.transcriptionViewer">
                        </os-transcription-window>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <os-open-dialog api="resourceType.current.api" selection="selection"
        title="Open Text" name="openDialog"></os-open-dialog>
    <os-sharing-dialog 
            data-ng-hide="!resourceType.current.supportsAccess"
            api="resourceType.current.api" 
            access-model="editor.access" current-document="editor.currentDocument" 
            is-new="editor.isNew" name="sharingDialog" title="Sharing"></os-sharing-dialog>
    <os-new-dialog 
            resource-type="resourceType.current.type" 
            model="editor.newTemplate"
            title="{{resourceType.current.defaultTitle}}" 
            name="newDialog"
            on-ok="editor.newDocument"
            on-close="editor.newCanceled"></os-new-dialog>
    <os-insert-internal-link-dialog
            content="editor.content"
            name="internalLinkDialog"
            title="Insert Internal Link"
            on-ok="helper.link.insert"
            on-close="helper.link.cancel"
            allow-range="editor.content"
            ></os-insert-internal-link-dialog>
    <os-insert-link-dialog
            name="linkDialog"
            title="Insert External Link"
            on-ok="helper.link.insert"
            on-close="helper.link.cancel"
            ></os-insert-link-dialog>
    <os-metadata-license-dialog
            name="metadataLicenseDialog"
            title="License"
            access-model="editor.access"
            on-ok="editor.makeDirty"></os-metadata-license-dialog>
    <os-metadata-title-dialog
            name="metadataTitleDialog"
            title="Titles"
            access-model="editor.access"
            on-ok="editor.makeDirty"></os-metadata-title-dialog>
    <os-metadata-resp-dialog
            name="metadataRespDialog"
            title="Responsibility Credits"
            access-model="editor.access"
            on-ok="editor.makeDirty"></os-metadata-resp-dialog>
</div>
