<div>
    <div class="toolbar navbar navbar-inverse nav-collapse collapse">
        <div class="navbar-inner">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <span class="btn btn-inverse" data-ng-disabled="1">{{ editor.content.title.text }}</span>
                </div>
                <div class="btn-group">
                      <button class="btn btn-primary" type="submit"
                          data-ng-disabled="!editor.loggedIn" 
                          data-ng-click="editor.newButton()"  
                          >New</button>
                      <button class="btn btn-primary" 
                          data-ng-click="DialogService.open('openDialog')"  
                          >Open</button>
                      <button data-ng-class="{'btn' : true, 'btn-primary' : true, 'btn-success' : trForm.$pristine}" type="submit" 
                          data-ng-click="editor.saveDocument()"  
                          data-ng-disabled="!editor.access.write || trForm.$invalid || trForm.$pristine">{{saveButtonText()}}</button>
                </div>
                <os-sharing-status access-model="editor.access" sharing-dialog="sharingDialog"></os-sharing-status>
            </div>
        </div>
    </div>
    <!-- page content -->
    <div class="page-container container-fluid">
        <div data-ng-show="!editor.loggedIn && !editor.currentDocument">
            Log in to be able to edit a new document, or open a document to view it.
        </div>
        <div data-ng-show="editor.loggedIn || editor.currentDocument">
            <div class="row-fluid translations-editor">
                <div>
                    <form name="trForm">
                        <div class="controls controls-row">
                            <label class="span1" for="title_lang">Title</label>
                            <select 
                                class="span2"
                                name="title_lang"
                                data-ng-model="editor.content.title.lang" 
                                required="true"
                                data-ng-options="code as language for (code, language) in editor.supportedLanguages"/>
                            <input class="span8" name="title" data-ng-model="editor.content.title.text"
                                placeholder="Main title"/>
                        </div>

                        <div class="controls controls-row">
                            <label class="span3" for="transtitle">Translation Title</label>
                
                            <input class="span8" name="transtitle" data-ng-model="editor.content.idno"
                                placeholder="Title of translation"/>
                        </div>

                        <div class="controls controls-row">
                            <label class="span3" for="license">Licensed under</label>
                
                            <select class="span8" name="license" 
                                data-ng-disabled="!editor.access.relicense"
                                data-ng-model="editor.content.license"
                                required="true"
                                data-ng-options="target as license for (target, license) in editor.supportedLicenses"/>
                        </div>

                        <div class="controls controls-row">
                            <label class="span2" for="link-1-resource">Link</label>
                            <input class="span3" name="link-1-resource"
                                data-ng-model="editor.content.links[0].resource"
                                readonly="true"/> 
                            <button class="span1 btn btn-primary"
                                data-ng-click="DialogService.open('openDialogLeft')"
                                role="button"
                                data-toggle="modal"
                                >Set</button>

                            <label class="span1" for="link-2-resource">to</label>
                            <input class="span3" name="link-2-resource"
                                data-ng-model="editor.content.links[1].resource"
                                readonly="true"/> 
                            <button class="span1 btn btn-primary"
                                data-ng-click="DialogService.open('openDialogRight')"
                                role="button"
                                data-toggle="modal"
                                >Set</button>
                        </div>
                        <hr/>
                        <div data-ng-repeat="linkage in editor.content.linkages" class="translation-linkage span12">
                            <div class="translation-left span6">
                                <os-translation-segment model="editor.content.linkages" block="linkage" side="left"></os-translation-segment>
                            </div>
                            <div class="translation-right span6">
                                <os-translation-segment model="editor.content.linkages" block="linkage" side="right"></os-translation-segment>
                            </div>
                            <div class="span12">
                                <hr/>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
    <os-open-dialog api="'/api/data/linkage'" selection="selection" name="openDialog" title="Open Translation Linkage"></os-open-dialog> 
    <os-open-dialog api="'/api/data/original'" selection="temporary.link1" name="openDialogLeft" title="Set parallel text 1"></os-open-dialog> 
    <os-open-dialog api="'/api/data/original'" selection="temporary.link2" name="openDialogRight" title="Set parallel text 2"></os-open-dialog> 
    <os-sharing-dialog api="'/api/data/linkage'" access-model="editor.access" current-document="editor.currentDocument" 
            is-new="editor.isNew" name="sharingDialog" title="Sharing"></os-sharing-dialog> 
</div>

