<div class="osTranslationIdDialog modal" aria-hidden="true" aria-labelledBy="translationIdDialogHeader">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="CloseButton()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="translationIdDialogHeader">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <p>The translation identifier is used at compile time to choose which translation 
                is linked to a text. Generally, there will be only one translation of a given original
                text with any given identifier. A group of related translation files, for example, translations
                derived from the same source, should also share the same identifier.</p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="transId">Translation identifier</label>
                        <div class="col-md-8">
                            <input
                                class="form-control"
                                ng-readonly="!AccessService.access.write"
                                ng-model="translationId"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" ng-click="CloseButton()" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    ng-show="AccessService.access.write" 
                    ng-click="OKButton()">Set Translation Identifier</button>
            </div>
        </div>
    </div>
</div>

