<div class="osEditConditionalDefinitionsDialogSimple modal" aria-hidden="true" aria-labelledBy="editConditionalDefinitionsDialogSimpleHeader">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="CloseButton()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editConditionalDefinitionsDialogSimpleHeader">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <os-query-box queryModel="queryModel" callback="queryButton"></os-query-box>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-ng-click="CloseButton()" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    data-ng-click="OKButton()">Edit</button>
            </div>
        </div>
    </div>
</div>

