<div class="osEditLinkDialogSimple modal" aria-hidden="true" aria-labelledBy="editLinkDialogSimpleHeader">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="CloseButton()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editLinkDialogSimpleHeader">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <label class="control-label" for="link.id">Unique identifier</label>
                    <div class="control">
                        <input type="text" data-ng-model="link.id" id="link.id"></input>
                    </div>
                </div>
<!--
                <label for="link.type">Search for a link to:</label>
                <select
                    name="link.type" 
                    data-ng-model="links.selectedType"
                    data-ng-options="key as value for (key , value) in links.types"/>
                    <div>
                        <os-search-list api="links.selectedType" selection="links.selection">
                        </os-search-list>
                    </div>
                    <div>
                        <button
                            data-ng-disabled="!links.selection"
                            class="btn btn-primary" 
                            data-ng-click="links.selectFile()">Select</button>
                    </div>
                    <div>
                        <os-id-list data-ng-show="allowedFragment && links.selectedFile" 
                            content="links.content" allow-range="allowedRange" 
                            selection="links.composedFragment" update="links.content">
                        </os-id-list>
                    </div>
            -->
            </div>
            <div class="modal-footer">
                <span data-ng-show="links.composedLink">Link: <b>{{links.composedLink}}</b></span>
                <button type="button" class="btn" data-ng-click="CloseButton()" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    data-ng-click="OKButton()">Edit</button>
            </div>
        </div>
    </div>
</div>

