<div class="osErrorBox">
    <div 
        data-ng-repeat="message in messages" 
        data-ng-class="{
            'alert' : true,
            'alert-block' : message.message.length > 50, 
            'alert-error' : message.level == 'error' || message.level == 'danger', 
            'alert-warning' : message.level == 'warning',
            'alert-info' : message.level == 'info',
            'alert-success' : message.level == 'success'
        }"
        >{{message.message}}
        <button type="button" class="close" data-ng-click="closeAlert($index)">&times;</button>
    </div>
</div>
