<div class="row-fluid">
    <div class="navbar os-listbox-navbar">
        <div class="navbar-inner">
            <span class="span2 brand"><button data-ng-click="toggleCollapse()" data-ng-switch="collapsed"><span data-ng-switch-when="1">&#9660;</span><span data-ng-switch-when="0">&#9650;</span></button> {{title}} - </span>
            <div data-ng-transclude="1"></div>
            <ul class="span2 nav pull-right">
                <li class="navbar-search" 
                    data-os-search-box="{{api}}" 
                    data-query="search.query" 
                    data-results="search.results"
                    data-source-key="{{sourceKey}}"></li>
            </ul>
        </div>
    </div>
    <div class="row-fluid search-results" data-ng-hide="collapsed">
        <table class="table table-hover table-condensed table-striped table-scrollable" 
        data-infinite-scroll="nextSearch()" data-infinite-scroll-distance="3">
            <tbody>
                <tr data-ng-repeat="result in search.results">
                    <td data-ng-click="select(result.a_asArray[0]._href)">{{result.a_asArray[0].__text}}</td>     
                </tr>
            </tbody>
        </table>
    </div>
    <style type="text/css">/*<![CDATA[*/
        .search-results {
            overflow-y: scroll;
        }

        .os-listbox-navbar {
            margin-bottom: 0;
        }
    /*]]>*/</style>
</div>
