<div class="osMetadataRespDialog modal" aria-hidden="true" aria-labelledBy="metadataRespDialogHeader">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="CloseButton()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="metadataRespDialogHeader">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <os-search-list api="'/api/user'" selection="selectedContributor.ref" selection-description="selectedContributor.name">
                </os-search-list>
                <div class="row scrollable-300px">
                    <form class="form-horizontal">
                        <div class="form-group" data-ng-repeat="resp in respModel track by $index">
                            <label class="control-label col-md-1" for="respChooser{{$index}}">Credit</label>
                            <div class="col-md-3">
                                <select class="form-control"
                                    name="respChooser{{$index}}"
                                    data-ng-model="resp.respType"
                                    data-ng-required="resp.respName"
                                    data-ng-disabled="!accessModel.write"
                                    data-ng-options="key as definition for (key, definition) in supportedResponsibilities"
                                    data-ng-change="resp.respText = supportedResponsibilities[resp.respType]">
                                     <option value="">-- Responsibility --</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <p 
                                    class="form-control-static"
                                    >{{resp.respName}}</p>
                            </div>
                            <div class="col-md-2">
                                <button class="btn form-control"
                                    data-ng-click="setResponsibility($index)"
                                    data-ng-disabled="!selectedContributor.ref || !accessModel.write"
                                    >Select</button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn form-control"
                                    data-ng-click="removeResponsibility($index)"
                                    data-ng-disabled="!accessModel.write"
                                    >Remove</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-ng-click="CloseButton()" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    data-ng-disabled="!accessModel.write" 
                    data-ng-click="OKButton()">Set Credits</button>
            </div>
        </div>
    </div>
</div>

