<div class="osNewDialog modal hide" aria-hidden="true" aria-labelledBy="newDialogHeader">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="CloseButton()" aria-hidden="true">&times;</button>
        <h3 id="newDialogHeader">{{title}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newDialogForm">
            <!-- type of document -->
            <div data-ng-show="!resourceType" class="control-group">
                <label for="resourceType" class="control-label">Start a new...</label>
                <div class="controls">
                    <select
                        required="true"
                        name="resourceType"
                        data-ng-model="resourceType"
                        data-ng-options="type as description for (type, description) in resourceTypes">
                    </select>
                </div>

            </div>
            <!-- primary language -->
            <div class="control-group">
                <label for="lang" class="control-label">Primary language</label>
                <div class="controls">
                    <select
                        required="true"
                        name="lang"
                        data-ng-model="model.template.lang"
                        data-ng-options="code as language for (code, language) in supportedLanguages">
                    </select>
                </div>
            </div>
            <!-- main title -->
            <div class="control-group">
                <label for="titleMain" class="control-label">Document title</label>
                <div class="controls">
                    <input
                        required="true"
                        name="titleMain"
                        placeholder="Main title"
                        data-ng-model="model.template.title.main">
                    </select>
                </div>
            </div>
            <!-- alt title -->
            <div class="control-group">
                <label for="titleAlt" class="control-label">Alternate title</label>
                <div class="controls">
                    <select
                        name="altLang"
                        data-ng-model="model.template.title.altLang"
                        data-ng-options="code as language for (code, language) in supportedLanguages">
                    </select>
                    <input
                        name="titleAlt"
                        placeholder="Alt title (eg, translated)"
                        data-ng-model="model.template.title.alt">
                    </select>
                </div>
            </div>
            <!-- idno (for annotations) -->
            <div data-ng-show="resourceType=='annotations'">
                <label for="idno" class="control-label">Annotations id</label>
                <div class="controls">
                    <input
                        name="idno"
                        placeholder="Belongs to this collection of annotations"
                        data-ng-model="model.template.title.idno"/>
                </div>
            </div>
            <!-- license -->
            <div class="control-group">
                <label for="license" class="control-label">License</label>
                <div class="controls">
                    <select
                        required="true"
                        name="license"
                        data-ng-model="model.template.license"
                        data-ng-options="url as license for (url, license) in supportedLicenses">
                    </select>
                </div>
            </div>
            <!-- source -->
            <div class="control-group">
                <label class="control-label">Source</label>
                <os-search-list api="'/api/data/sources'" selection="model.template.source">
                </os-search-list>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal"
            data-ng-click="CloseButton()">Close</button>
        <button class="btn btn-primary" data-dismiss="modal" 
            data-ng-click="OKButton()">New</button>
    </div>

</div>


