<div class="osSharingDialog modal hide" aria-hidden="true" aria-labelledBy="sharingDialogHeader">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="sharingDialogHeader">{{ title }}</h3>
    </div>
    <div class="modal-body">
        <p>This document is owned by: {{ accessModel.owner }}</p>
        <p data-ng-show="accessModel.read || accessModel.write || accessModel.chmod || accessModel.relicense">You can: <strong>
            <span data-ng-show="accessModel.read">read<span data-ng-show="accessModel.write">,</span></span>
            <span data-ng-show="accessModel.write">write<span data-ng-show="accessModel.chmod">,</span></span>                
            <span data-ng-show="accessModel.chmod">change sharing properties<span data-ng-show="accessModel.relicense">,</span></span>
            <span data-ng-show="accessModel.relicense">relicense</span> 
            </strong> this document</p>
        <p data-ng-show="!accessModel.read || !accessModel.write || !accessModel.chmod || !accessModel.relicense">You can not: <strong>
            <span data-ng-show="!accessModel.read">read<span data-ng-show="!accessModel.write">,</span></span> 
            <span data-ng-show="!accessModel.write">write<span data-ng-show="!accessModel.chmod">,</span></span> 
            <span data-ng-show="!accessModel.chmod">change sharing properties<span data-ng-show="!accessModel.relicense">,</span></span>
            <span data-ng-show="!accessModel.relicense">relicense</span> 
            </strong> this document</p>
        <form name="sharingForm" class="form-horizontal">
            <label>Sharing type:</label>
            <div class="control-group">
                <label class="radio">
                    <input type="radio" data-ng-disabled="!accessModel.chmod" 
                        data-ng-model="accessType" value="public"/><b>Public:</b> 
                Everyone can read and edit the document.
                </label>
                <label class="radio">
                    <input 
                        type="radio" data-ng-disabled="!accessModel.chmod" 
                        data-ng-model="accessType" value="restricted"/><b>Restricted:</b> 
                Everyone can read the document, only the owner can edit it.
                </label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" data-ng-disabled="!accessModel.chmod" data-dismiss="modal" 
            data-ng-click="saveAccessModel()">Set sharing properties</a>
    </div>
</div>

