<div class="os-translation-block">
    <button
        data-ng-click="moveLinkageGroup(-1)"
        data-ng-hide="hideMoveLinkageGroupButton(-1)"
        >Up</button>
    <div class="os-translation-segment" data-ng-repeat="item in block[side]">
        <div>
            <div data-ng-show="item.name=='tei:seg'">{{item.text}}</div>
            <div data-ng-show="item.external">External link to {{item.text}}</div>
            <div data-ng-show="item.name=='tei:anchor'">Anchor: {{item.id}}</div>
        </div>
        <div>
            <button 
                data-ng-click="breakAtSegment(item)"
                data-ng-hide="hideBreakButton(item)">-- Break --</button> 
        </div>
        <hr/>
    </div>
    <button
        data-ng-click="combineLinkageGroups()"
        data-ng-hide="hideCombineButton()"
        >Combine</button>
    <button
        data-ng-click="moveLinkageGroup(+1)"
        data-ng-hide="hideMoveLinkageGroupButton(+1)"
        >Down</button>
</div>
